.holder {
	display:flex;
	font-size:40px;
	justify-content:space-evenly;
}
.item-1 {
	background:green;
	width:100px;
	height:100px;
}
.item-2 {
	background:red;
	width:100px;
	height:100px;
}
.item-3 {
	background:blue;
	width:100px;
	height:100px;
}